# This is a config file for snake.py
# By Rein Ytterberg rein@ytterberg.com
# Values are assigned in pairs, one per row, and are case sensitive.
# A key-value-pair must start in the first column.
# Exactly one colon and one space must be used to separate key and value.

# Playground height (including borders)
rows: 20
# Playground width (including borders)
cols: 30
# Initial snake length
snakelen: 6
# Number of milliseconds until snake moves even if no key is pressed
timeout: 300
